{{#each banners}}
<img src="{{img}}" alt="">
{{/each}}
<div class="wrapper-banner-switch">
    {{#each banners}}
    <div class="banner-switch"></div>
    {{/each}}
    <div class="clear"></div>
</div>
