{{#each banners}}
<a href="{{link}}" target="_blank"><img src="{{img}}" alt=""></a>
{{/each}}
<div class="wrapper-banner-switch">
    {{#each banners}}
    <div class="banner-switch"></div>
    {{/each}}
    <div class="clear"></div>
</div>
