<div class="news-wrapper">
  {{#each recent}}
  <div class="news-row">
    <img src="{{img}}" alt="">
    <div class="links">
      {{#each links}}
      <a href="{{../path}}#content/{{id}}">{{name}}</a>
      {{/each}}
    </div> 
    <div class="clear"></div>
  </div>
  {{/each}}
</div>